@import "../node_modules/bootstrap/scss/bootstrap";

body {
   background-color: powderblue;
   background-color: lightgray;
   color: var(--bs-purple);
}

h1 {
   text-align: center;
   padding: 15px;
}

p {
   text-align: center;
   color: var(--bs-purple);
}
